name: CI

on:
  # Run on all pull requests and all pushes to master
  push:
    branches: [ master ]
  pull_request:

  # Allow running this workflow manually
  workflow_dispatch:

env:
  # Set defines for builds/tests
  DEFINES: "LOG_LEVEL_VERBOSITY=LOG_LEVEL_WARN"

jobs:
  build:
    runs-on: ubuntu-16.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2

      # TODO: cache all the setup
      - name: Cache
        uses: actions/cache@v2.1.6
        id: cache-packages
        with:
          path: |
            /usr/local/bin/protoc
            /usr/local/bin/protoc-c
            /usr/local/bin/protoc-gen-c
            /usr/local/include/google/protobuf
            /usr/local/include/google/protobuf-c
            /usr/local/include/protobuf-c
            /usr/local/lib
            /usr/local/protobuf-3.17.3
            /usr/local/protobuf-c-master

          key: ${{ runner.os }}-packages-${{ hashFiles('**/packages*.txt') }}
          restore-keys: |
            ${{ runner.os }}-packages-
            ${{ runner.os }}-

      - name: Setup directories
        run: |
          # create directory that will be on the PATH
          mkdir -p ~/.local/bin
          echo "${HOME}/.local/bin" >> $GITHUB_PATH
          mkdir -p ~/source
          
      - name: Install gcc, clang, clang-format
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          sudo apt-get update
          sudo apt-fast -y install gcc-6
          sudo apt-fast -y install clang-5.0
          sudo apt-fast -y install clang-format-5.0
          sudo apt-fast -y install libc6-i386
          # for vcan module
          sudo apt-fast -y install linux-modules-extra-$(uname -r)
          ln -sf `which gcc-6` ~/.local/bin/gcc
          ln -sf `which clang-5.0` ~/.local/bin/clang
          ln -sf `which clang-format-5.0` ~/.local/bin/clang-format

      - name: Install protobuf and dependencies
        if: steps.cache-packages.outputs.cache-hit != 'true'
        run: |
          sudo apt-get install gcc g++
          sudo apt-get update -y
          sudo apt-get install -y pkg-config
          sudo apt-get install libtool
          sudo apt update
          sudo apt install protobuf-c-compiler
          sudo apt install protobuf-compiler
          sudo apt-get install autoconf automake libtool curl make g++ unzip
          curl -OL https://github.com/protocolbuffers/protobuf/releases/download/v3.14.0/protoc-3.14.0-linux-x86_64.zip
          sudo unzip -o protoc-3.14.0-linux-x86_64.zip -d /usr/local bin/protoc
          sudo unzip -o protoc-3.14.0-linux-x86_64.zip -d /usr/local 'include/*'
          rm -f protoc-3.14.0-linux-x86_64.zip
          sudo protoc --version
          export PATH="$PATH:$HOME/.local/bin"

          curl -OL https://github.com/protobuf-c/protobuf-c/archive/refs/heads/master.zip
          sudo unzip -o master.zip -d /usr/local '*'
          rm -f master.zip
          cd /usr/local

          sudo protoc --version
          sudo pkg-config --version

          sudo curl -OL https://github.com/protocolbuffers/protobuf/releases/download/v3.17.3/protobuf-cpp-3.17.3.zip
          sudo unzip -o protobuf-cpp-3.17.3.zip -d /usr/local '*'
          sudo rm -f protobuf-cpp-3.17.3.zip
          cd /usr/local/protobuf-3.17.3
          sudo ./configure
          sudo make
          sudo make install
          sudo ldconfig

          cd /usr/local/protobuf-c-master
          sudo ./autogen.sh && sudo ./configure && sudo make && sudo make install

      - uses: fiam/arm-none-eabi-gcc@v1
        with:
          release: '6-2017-q2'

      - name: Install GNU Make 4.1
        env:
          MAKE_PATH: make-4.1
          MAKE_ARCHIVE_PATH: make-4.1.tar.gz
          MAKE_URL: http://ftp.gnu.org/gnu/make/make-4.1.tar.gz
        run: |
          wget -nv $MAKE_URL
          tar xvf $MAKE_ARCHIVE_PATH
          cd $MAKE_PATH
          ./configure --prefix=${HOME}/.local
          make
          make install
          cd ..
          rm -rf $MAKE_PATH
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Python tooling
        run: |
          pip install --user virtualenv
          pip install --upgrade pip
          pip install --upgrade setuptools
          make install_requirements

      - name: Force PATH to update
        run: hash -r

      - name: Print versions of everything
        run: |
          arm-none-eabi-gcc --version
          arm-none-eabi-objcopy --version
          arm-none-eabi-objdump --version
          arm-none-eabi-size --version
          arm-none-eabi-gcc-ar --version
          arm-none-eabi-gdb --version
          gcc --version
          make --version
          clang --version
          clang-format --version
          .venv/bin/pip3 freeze

      - name: Format and lint
        if: ${{ 'success' == 'failure' }}
        run: |
          make test_format
          make lint
          make pylint

      - name: Build codegen
        run: |
          make codegen
          make codegen_dbc

      - name: Check for uncommitted codegen changes
        id: check-uncommited-codegen-changes
        continue-on-error: true
        # https://stackoverflow.com/a/3879077
        run: |
          git update-index --refresh || true
          git diff-index --quiet HEAD --        
        
      - name: Build MU and bootloader protobufs # Bootloader protobufs use nanopb and not protoc
        run: |
          make mu_protos
      
      - name: Check for uncommitted protobuf changes
        id: check-uncommitted-protobuf-changes
        continue-on-error: true
        run: |
          git update-index --refresh || true
          git diff-index --quiet HEAD --  
        
      - name: Post PR comment on uncommitted codegen changes
        if: ${{ steps.check-uncommited-codegen-changes.outcome == 'failure' }}
        uses: actions/github-script@v4
        with:
          script: |
            const fs = require('fs');
            const comment = fs.readFileSync(
              './.github/workflows/uncommitted-codegen-changes.md', 'utf8');
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: comment,
            });
            
      - name: Post PR comment on uncommited protobuf changes
        if: ${{ steps.check-uncommited-protobuf-changes.outcome == 'failure' }}
        uses: actions/github-script@v4
        with:
          script: |
            const fs = require('fs');
            const comment = fs.readFileSync(
              './.github/workflows/uncommitted-protobuf-changes.md', 'utf8');
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: comment,
            });
            
      - name: Fail on uncommitted codegen changes
        if: ${{ steps.check-uncommited-codegen-changes.outcome == 'failure' }}
        run: exit 1
        
      - name: Fail on uncommited protobuf changes
        if: ${{ steps.check-uncommited-protobuf-changes.outcome == 'failure' }}
        run: exit 1

      - name: Build stm32f0xx
        id: build-stm32
        run: |
          make build_all PLATFORM=stm32f0xx DEFINE="${DEFINES}"
          make clean

      - name: Build and test
        id: build-test
        run: |
          make build_all PLATFORM=x86 DEFINE="${DEFINES}"
          make test_all PLATFORM=x86 DEFINE="${DEFINES}"
          make pytest_all
          make build_all PLATFORM=x86 COMPILER=clang DEFINE="${DEFINES}"
